.container{
    background-image: url('https://wallpaperaccess.com/full/5543478.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
}

.calculator{
    width:30vw;
    height:70vh;
    border: 1px solid rgb(160, 155, 156);
    margin:auto;
    position: relative;
    top:100px;
    gap:5px;
    display:grid;
    padding:20px;
    background-color: rgb(62, 62, 62);
    border-radius: 10px;
} 

.calculator>.form-group{
    display:flex;
    justify-content: space-between;
    gap:5px;
}

.calculator>.form-group>button{
    width:25%;
    font-size:25px;
    border: none;
    border-radius: 5px;
    /* font-weight: bold; */
}

.calculator>.form-group>button:hover{
    background-color: rgb(219, 213, 205);
}

.calculator>.form-group>input{
    width:100%;
    font-size: 50px;
    border:1px solid gray;
    text-align: end;
    padding-right: 10px;
    background-color: rgb(210, 209, 207);
}

.evaluate{
    color:rgb(255, 255, 255);
    background-color: rgb(106, 106, 249);
}
.calculator>.form-group>button.evaluate:hover{
    background-color: rgb(0, 0, 255);
}
